html,body,a,p,h1,h2,h3,a,ul,li,header,section,article,footer{
  margin: 0px;
  padding : 0px;
}
html{
  font-family: verdana,sans-serif;
}
a{
  text-decoration: none;
  color: white;
  display: block;
}
ul{
  margin: 0px 5px 0px 5px;
}
li{
  list-style-type: none;
  margin: 0px 5px 0px 5px;
}
input{
  margin: 0px;
  padding: 0px;
  border: none;
}
button{
  margin: 0px;
  padding: 0px;
  border: none;
}

#nav{
  width: 100%;
  background-color: #0a2c4f;

  display:flex;
  flex-direction: column;
  justify-content: center;

  z-index: 1;

  position:absolute;
}
.nav1{
  width: 100%;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img_logo{
  height: 4em;
  width: 3.5em;

  background-image: url("../img/uom_logo.jpg");
  background-size: contain;
}
#home{
  font-size: 3em;
}
#nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#nav li{
  color: white;
}
#cb1{
  display: none;
}
.nav2{
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
#content{
  width: 100%;
  background-color: #0a2c4f;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 2
}

header{
  width: 100%;
  height: 500px;
  background-color: #0a2c4f;
  background-image: url("../img/header_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
header h1{
  font-size: 3em;

  margin: 20px;

  text-shadow: 3px 3px #000000;
}
header h3{
  margin: 20px;

  text-shadow: 2px 2px #000000;
}
header form{
  width: 50%;
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header input{
  color: black;

  background-color: white;

  border: 0px none black;

  width: 100%;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}
header button{
  height: 35px;
  width : 35px;
  background-color: white;
  background-image: url("../img/b_1_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

section{

}
article{

}
footer{
  width: 100%;

  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#essential,#go_up{
  width: 20%;
  margin: 20px;
}
#credits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}
#go_up{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

a:hover, #topics:hover{
  color: orange;
}

/*
blue_UoM = #0a2c4f
change css = 700px
*/
