html,body,a,p,h1,h2,h3,a,ul,li,header,section,article,footer{
  margin: 0px;
  padding : 0px;
}
html{
  font-family: verdana,sans-serif;
}
a{
  text-decoration: none;
  color: white;
  display: block;
}
ul{
  margin: 0px 5px 0px 5px;
}
li{
  list-style-type: none;
  margin: 0px 5px 0px 5px;
}
input{
  margin: 0px;
  padding: 0px;
  border: none;
}
button{
  margin: 0px;
  padding: 0px;
  border: none;
}

nav{
  width: 100%;
  background-color: #0a2c4f;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav li{
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#img_logo{
  height: 4em;
  width: 3.5em;

  background-image: url("../img/uom_logo.jpg");
  background-size: contain;
}
#home{
  font-size: 3em;
}
#nav_topic:hover{
  color: orange;
  cursor: pointer;
}
#topics{
  background-color: #0a2c4f;
  display: none;
  margin-top: 0px;
  margin-bottom: 15px;
}
#topics ul{
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#topics li{
  height: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  background-color: #0a2c4f;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title{
  width: 100%;
  height: 500px;
  background-color: #0a2c4f;
  background-image: url("../img/header_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#title h1{
  font-size: 3em;

  margin: 20px;

  text-shadow: 3px 3px #000000;
}
#title h3{
  margin: 20px;

  text-shadow: 2px 2px #000000;
}
#title form{
  width: 50%;
  margin: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
#title input{
  color: black;

  background-color: white;

  border: 0px none black;

  width: 100%;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}
#title button{
  height: 35px;
  width : 35px;

  background-color: white;
  background-image: url("../img/b_1_img.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

section{
  background-color: #DDDDDD;
  color: black;

}
article{
  background-color: #DDDDDD;
  color: black;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#upload_label{
  padding: 5px;
  border: solid 2px black;
  background-color: #e74c3c;
  cursor: pointer;
}
#upload_button{
  display: none;
}
#master_link{
  padding: 5px;
  background-color: #e74c3c;
  border: solid 2px black;
  color: black;
}

footer{
  width: 100%;

  color: white;
  background-color: #0a2c4f;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
#essential,#go_up{
  width: 20%;
  margin: 20px;
}
#credits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}
#go_up{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#loader{
  display: none;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-radius: 50%;
  z-index: 500000000;
  animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
}
#loader::before, #loader::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 50%;
}
#loader::before{
  top: -5px;
  left: -5px;
  border-left-color: red;
  transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
}
#loader::after{
  top: -5px;
  left: -5px;
  border-right-color: red;
  transform: rotateZ(30deg);
  -webkit-transform: rotateZ(30deg);
}

.alert{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 5px 20px;
  background: #e74c3c;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity: 1;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000;
}
.alert p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: normal;
}

a:hover, #topics:hover{
  color: orange;
}

@keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); }
}

/*
blue_UoM = #0a2c4f
change css = 700px
*/
