<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Antoine Moutou">
    <meta name="description" content="Visualize the buildings of the University of Melbourne !">
    <meta name="keywords" content="Unimelb, 3D ,University of Melbourne, Buildings, 3dcitydb">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">

    <link rel="shortcut icon" href"img/mini-csdila-logo.ico">
    <link rel="stylesheet" href="../css/style.css">

    <script src="../js/jszip.min.js"></script>

    <script src="../js/set.js"></script>

    <title>City Models Lab</title>
  </head>
  <body>
  <main>
    <article>
      Bonjour
    </article>
  </main>
  </body>
</html>