/* basics */
html,body,a,p,h1,h2,h3,a,ul,li,header,section,aside,article,footer,input,button{
  margin: 0px;
  padding : 0px;
  border: none;
}
html{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
  min-width: 300px;
}
body{
  background-color: #CCCCCC;
}
a{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-decoration: none;
  color:black;
}
p{
  text-align: justify;
}
li{
  list-style-type: none;
}
a:hover{
  color: orange;
}

/* checkbox and info-page div */
#info-page,#cb-nav-res1,#cb-nav-res2,#cb-nav{
  display: none;
}

/* full width website */
html,body,header,footer,nav,main{
  width: 100%;
}

/* header */
header{
  color:white;

  background-color: #012E55;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header a{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.nav_apps:hover{
  color: orange;
  cursor: pointer;
}
.icon{
  width: 100px;
  height: 100px;
}

/* nav */
#nav{
  width: 100%;

  font-size: 1.2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#nav-basic{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav-basic ul{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#nav-basic ul ul{
  justify-content: center;
  align-items: center;
}
#nav-basic li li{
  margin-left: 15px;
  margin-right: 15px;
}
#nav-hidden{
  width: 100%;

  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#logo-csdila{

  height: 100px;
  width: 100px;

  background-image: url("../img/logo-csdila.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#logo-unimelb{

  height: 100px;
  width: 100px;

  background-image: url("../img/unimelb-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#nav-hidden{
  display: none;

  width: 100%;

  margin-top: 5px;
  margin-bottom: 5px;

  background-color: #012E55;
}
#cb-nav:checked + #nav-hidden{
  display : flex;
}

/* nav-res */
#nav-res {
  width: 100%;
  box-shadow: 0px 5px 2px rgba(0, 0, 0, 0.5);
  display: none;
}
#nav-res-basic{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#nav-res-home{
  font-weight: 300;
  font-size: 2em;
  margin: 10px;
}
#nav-res-hidden{
  display: none;
}
#nav-res-hidden1{
  width: 100%;

  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#nav-res-hidden2{
  display: none;
}
#cb-nav-res1:checked ~ #nav-res-hidden{
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#cb-nav-res2:checked ~ #nav-res-hidden2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* title */
#title{
  width: 100%;
  height: 400px;

  background-color: #012E55;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#title h1{
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-size: 3em;
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  font-stretch: normal;
  text-align: center;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
#title h3{
  height: 30%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  font-size: 1.3em;
  font-style: normal;
  font-weight: 300;
  font-variant: normal;
  font-stretch: normal;

  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
}
#search-bar{
  width: 50%;
  height: 30%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
#title input{
  color: black;

  background-color: white;

  border: 0px none black;

  width: 100%;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
}
#title button{
  height: 35px;
  width : 35px;

  background-color: white;
  background-image: url("../img/search-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

/* main and dependencies */
main{
  width: 100%;

  background-color: #CCCCCC;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
section{
  width: 50%;

  background-color: #CCCCCC;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
aside{
  width: 50%;

  background-color: #CCCCCC;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
article{
  width: 90%;
  height: 90%;

  margin: 20px;

  background-color: #FFFFFF;

  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;

  font-size: 0.9em;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
article h2,article p,article input,article select, article span{
  margin: 5px;
}
article h2{
  font-size: 1.3em;
  font-weight: 300;
}

/* index */
#h-1{
  background-image: url("../img/statutory-icon2.png");
}
#h-2{
  background-image: url("../img/strategic-icon2.png");
}
#h-3{
  background-image: url("../img/smart-icon2.png");
}
#h-4{
  background-image: url("../img/BIM-GIS-icon2.png");
}
.home{
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  text-align: center;

  font-size: 1.6em;
  white-space: pre;

  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

/* contact */
.contact a{
  display: inline;
  margin: 5px;
}
.contact-title{
  color: #333333;
}

/* box trick */
.box1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.box2{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.box3{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* import */
#example{
  height: auto;
  width: auto;
  object-fit: contain;

  margin: 5px;
}
.in_form{
  border: solid 1px #B0B0B0;
}
.in_form:hover{
  border-color: grey;
}
#upload_label{
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  margin: 20px;
  border: solid 2px black;
  background-color: #e74c3c;
  cursor: pointer;
}
#upload_button{
  display: none;
}
#drag_zone{
  height: 300px;
  width: 90%;

  margin-top: 20px;
  margin-bottom: 20px;

  color: grey;
  font-size: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #FFFFFF;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
}

/* footer */
footer{
  color: white;
  background-color: #012E55;

  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}
footer a{
  color: white;
  display: block;
}
#essential,#go_up{
  width: 20%;

  margin-top: 20px;
  margin-bottom: 20px;
}
#credits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
}
#go_up{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

/* loader */
#loader{
  display: none;
  position: fixed;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  background: transparent;
  border: 5px solid transparent;
  border-top-color: red;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  z-index: 5000;
  animation: spin 2s linear infinite;
	-webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  -ms-animation: spin 2s linear infinite;
}
#loader::before, #loader::after{
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  border: 5px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;

}
#loader::before{
  top: -5px;
  left: -5px;
  border-left-color: red;
  transform: rotateZ(-30deg);
  -webkit-transform: rotateZ(-30deg);
  -moz-transform: rotateZ(-30deg);
  -o-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
}
#loader::after{
  top: -5px;
  left: -5px;
  border-right-color: red;
  transform: rotateZ(30deg);
  -webkit-transform: rotateZ(-30deg);
  -moz-transform: rotateZ(-30deg);
  -o-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
}

/* alert */
.alert{
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 5px 20px;
  background: #e74c3c;
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  opacity: 1;
  z-index: 1000000;
}
.alert p{
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 1.4em;
  font-weight: normal;
}

/* media for responsive use */
@media screen and (max-width: 1000px) {

  /* box trick */
  .box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .box2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  .box3{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {

  /* box trick */
  .box1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .box2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .box3{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  /*nav-res*/
  #nav, #apps, #title{
    display: none;
  }
  #nav-res{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .icon{
    width: 50px;
    height: 50px;
    margin: 5px;
  }

  /* import */
  section, aside{
    width: 100%;
  }
  #drag_zone{
    display: none;
  }

  /* footer */
  footer{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #essential,#credits{
    width: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  #go_up{
    width: auto;

    position:fixed;
    bottom: 5px;
    right: 5px;

    border: solid 2px black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;

    background-color: #012E55;

    margin: 0;
    padding: 5px;
  }
}

/* spin keyframe */
@keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}
@-webkit-keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg);}
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
    0%{ transform: rotate(0deg); -moz-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -moz-transform: rotate(360deg); }
}
@-o-keyframes spin{
    0%{ transform: rotate(0deg); -o-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -o-transform: rotate(360deg); }
}
@-ms-keyframes spin{
    0%{ transform: rotate(0deg); -ms-transform: rotate(0deg); }
    100%{ transform: rotate(360deg); -ms-transform: rotate(360deg); }
}

/*
MAIN COLORS
blue_UoM = #012E55
grey     = #CCCCCC
*/
